.DS_Store
*/.DS_Store
ceres_adapters.php
deploy.sh
config.php.keyedback
devMessage.php
.idea/
node_modules/
specs/results/
specs/reports/
.coverage
reports/
reports/*
reports/lcov/*
reports/html/*
.coveralls.yml
.coveralls.yml.php
tests/vendor/*
vendor/*
selenium.log
manifest.json
mirador_manifest.js
classes/test/*
templates/specs/*
