/*----------------------------------------------------
	Left Sidebar
---------------------------------------------------- */
#main {
	float: right;
	width: 75%;
	display: block;
}
#intro,
#main-core {
	margin-left: 20px;
}
#sidebar {
	display: block;
	float: right;
	width: 25%;
}
#sidebar-core {
	margin-right: 20px;
}

