/*** css code for leaflet-brc-project. ***/

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

#map {
    /* height: 600px; */
    /* margin-top: 50px; */
    /* flex-grow: 1; */
    /* margin-right: 50px; */
    left: 319px;
    position: absolute;
    top: 91px;
    right: 36px;
    bottom: 0px;
}

.main-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

.header-name h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}

.location-point-popup {
    font-size: 10px;
}

.leaflet-popup-content {
    max-width: 250px;
}

.leaflet-container {
    background: white;
    border: 1px solid black;
}

.body-container {
    display: flex;
}

.filters-container {
    width: 300px;
    background-color: #B1D1E3;
    margin-right: 50px;
}

.filters-section {
    width: 286px;
    margin: 20px 5px 20px 5px;
    background: white;
    max-height: 100vh;
    overflow: auto;
}

.filters-header {
    font-weight: 500;
    border-bottom: 1px solid #808080;
    padding: 4px 10px 4px 10px;
}

.location-section {
    padding-bottom: 20px;
}

.incidents-section,
.location-section {
    margin-left: 25px;
}

.inner-section {
    margin: 15px;
    position: relative;
    transition: .3s opacity, .6s max-height;
    z-index: 2;
}

#refine-btn {
    border: none;
    background: white;
    color: blue;
    margin-top: 10px;
    cursor: pointer;
}

#tooltip-section {
    width: 300px;
    height: 600px;
    position: absolute;
    right: 50px;
    margin-top: 51px;
    overflow: auto;
    background: white;
    z-index: 999;
    border: 2px solid black;
}

#tooltip-section .location-point-popup {
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
    margin-left: 10px;
}

.display-none {
    display: none;
}

.popup-list {
    list-style: none;
}

.cluster-border {
    border: 4px solid blue;
}

.location-list {
    list-style: none;
}

.list-item {
    padding-bottom: 6px;
}

#date-facet-section,
#art-category-section,
#neighbourhood-category-section,
#material-category-section {
    height: 200px;
    overflow: auto;
}

#filter-cards {
    max-width: 700px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

section.filter-cards {
    padding-top: 2em;
    padding-bottom: 3em;
}

#filter-cards ul {
    text-align: left;
}

.transition,
p,
ul li i:before,
ul li i:after {
    transition: all 0.3s;
}

#filter-cards .no-select,
#filter-cards h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}

#filter-cards h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 0;
}

#filter-cards h2 {
    color: #cc071e;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
}

#filter-cards ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

#filter-cards ul li {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.1);
    -webkit-tap-highlight-color: transparent;
}

#filter-cards ul li+li {
    margin-top: 15px;
    margin-bottom: 15px;
}

#filter-cards ul li:last-of-type {
    padding-bottom: 0;
}

#filter-cards ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
}

#filter-cards ul li i:before,
ul li i:after {
    content: "";
    position: absolute;
    background-color: #cc071e;
    width: 3px;
    height: 9px;
}

#filter-cards ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

#filter-cards ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

#filter-cards ul li .hidden-checkbox {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
}

#filter-cards ul li input[type=checkbox]:checked~h2 {
    color: #000;
}

#filter-cards ul li input[type=checkbox]:checked~div {
    /*margin-top: 0;
   */
    max-height: 0;
    transition: .3s;
    opacity: 0;
    /*transform: translate(0, 50%);
   */
}

#filter-cards ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

#filter-cards ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}


/*** Css code for search box ***/

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
}

.search-container button {
    float: right;
    padding: 8px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.popup-image-section {
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    */
    /* max-height: 206px;
    max-width: 273px;
    */
    width: auto;
}

.popup-image-section img {
    flex-shrink: 0;
    min-width: 20%;
    min-height: 20%;
    max-height: 206px;
    max-width: 273px;
}

.leaflet-popup-close-button {
    color: #000000 !important;
}


/*** Css code related to more information styling in popup on map. ***/

.more-info-span {
    float: right;
    text-decoration: none;
    color: #000000 !important;
}

.more-info-span:hover {
    color: #0078A8 !important;
}

.more-info-section {
    padding: 10px;
    list-style: none;
}

.marker-cluster-small {
    background-color: #2f83c6 !important;
    color: white;
}

.marker-cluster-small div {
    background-color: #2f83c6 !important;
    color: white;
}

.marker-cluster-medium {
    background-color: #2f83c6 !important;
    color: white;
}

.marker-cluster-medium div {
    background-color: #2f83c6 !important;
    color: white;
}

.marker-cluster-large {
    background-color: #2f83c6 !important;
    color: white;
}

.marker-cluster-large div {
    background-color: #2f83c6 !important;
    color: white;
}