/*
Theme Name: DSG (Minamaze Child Theme)
Theme URI: http://www.thinkupthemes.com/free/minamaze-free/
Author: ThinkUpThemes
Author URI: http://www.ThinkUpThemes.com
Description: Minamaze the free version of the multi-purpose professional theme (Minamaze Pro) ideal for a business or blog website. The theme has a responsive layout, HD retina ready and comes with a powerful theme options panel with can be used to make awesome changes without touching any code. The theme also comes with a full width easy to use slider. Easily add a logo to your site and create a beautiful homepage using the built-in homepage layout.
Template: minamaze
Version: 1.1.8
License: GNU General Public License
License URI: /licenses/license.txt
Tags: black, dark, red, one-column, two-columns, three-columns, right-sidebar, left-sidebar, fixed-layout, responsive-layout, fluid-layout, custom-header, custom-menu, full-width-template, theme-options, threaded-comments, editor-style, featured-images, featured-image-header, post-formats, sticky-post, translation-ready, flexible-header, gray, light, white, custom-background
*/

/* modifications to make the grid and list views for search and browse*/

#drs-facets{
  clear:both;
  border-bottom: 1px solid #EEE;
}
.drs-facet{
  overflow: auto;
  clear: both;
  padding: 10px;
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
}
.drs-facet-name{
  display:block;
  width:100%;
}
.drs-facet-val div:nth-of-type(2){
  text-align:right;
}
#drs-docs{
  padding:10px;
  border:1px solid #EEE;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.drs-item{
  overflow: auto;
  border-bottom:1px solid #EEE;
  min-height:100px;
}
.drs-item:last-of-type{
  border-bottom:none;
}
.drs-item div.one_fourth{
  margin-bottom:0px;
}
.drs-item.one_third{
  border:1px solid #EEE;
  padding:5px;
  text-align:center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height:230px;
}
.drs-item.one_third:nth-of-type(3n+3){
  clear: right;
  margin-right: 0px !important;
}
.drs-item h4{
  margin-top:20px;
}
.drs-item div:not(.dashicons){
  display:block;
}
.drs-item .dashicons{
  font-size:100px;
  width: 130px;
  height: 175px;
}
.drs-item .one_fourth .dashicons{
  height:165px;
}
h5.drs-item-title, .drs-item-abstract{
  display: inline-block;
  line-height: 15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom:0;
}
#drs-selection{
  clear:both;
}
.themebutton{
  padding:5px;
}


/*thanks bootstrap*/
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*overrides because moved the search from the pre-header to under the main header*/
#pre-header-search{
  width:100% !important;
  clear:both;
  display:block !important;
}
#drs-search .search {
  max-width: none;
  background: #EEE;
  border: 1px solid #CCC;
  color: #3A3A3A;
}
#drs-search input, #drs-search .searchsubmit{
  display:inline-block;
  color: #FFF;
}
.home #pre-header-search{
  overflow: auto;
  padding-bottom: 15px;
}

/*for disabled pagination*/
.pag li.disabled span {
	background: #EEE;
}
