#ceres-plugin-settings {
	.components-placeholder {
		background: #f1f1f1;
	}

	.ceres-plugin__header {
		background-color: #ffffff;
		box-shadow: 0 1px 0 rgba(213, 213, 213, 0.5), 0 1px 2px #eeeeee;
		margin-left: -2em;
		padding: 20px 10px;

		.ceres-plugin__container {
			margin: 0 auto;
			max-width: 750px;

			.ceres-plugin__title {
				align-items: center;
				display: flex;
				justify-content: center;

				.dashicon {
					color: #757575;
				}
			}
		}
	}

	.ceres-plugin__main {
		margin-left: auto;
		margin-right: auto;
		max-width: 750px;

		.components-panel {
			background: none;
			border: none;
		}

		.components-panel__body {
			background: #ffffff;
			border: 1px solid #e2e4e7;
			margin: 1rem 0;
		}
	}

	.components-base-control__help {
		margin-top: 0.5rem;
	}

	.components-panel__row {
		> div {
			flex-grow: 1;
			margin-right: 1rem;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.ceres-plugin__notices {
		.components-snackbar {
			bottom: 0.5rem;
			position: fixed;
		}
	}
}
